<form skip-sockets class="notform logout-form" method="POST" action="/logout">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input class="button" type="submit" value="logout">
</form>