<% @user ||= User.new %>
<% user ||= @user %>
<container class="container" id="user-form">
  <div class="row">
      <div class="col-sm-2 col-xs-12">
        <%= render "partials/register_form", user: user %>
      </div>
      <div class="col-xs-12 col-sm-2">
        <% if user.persisted? %>
          <%= render "partials/logout_form", user: user %>
        <% else %>
          <%= render "partials/login_form", user: user %>
        <% end %>
      </div>
  </div>
</container>