<container id="user-pinger">
  <% if @current_user %>
    <div class="hidden">
      <form id="ping-form" action="ping">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="id" value="<%= @current_user.id %>">
      </form>
      <script>
        $(function(){
          window.setInterval(function(){
            $("#ping-form").trigger("submit");
            console.log("pinging")
          }, 5000)
        })
      </script>
    </div>
  <% end %>
</container>
