<div class="section">
   <div class="grid">
    <a href="/users"><div class="grid-item box-link grid-item-small">login</div></a>
    <a href="/online"><div class="grid-item box-link grid-item-small">who's online</div></a>
    <a href="/tutorials"><div class="grid-item box-link grid-item-small">tutorials</div></a>
    <a href="/tutors"><div class="grid-item box-link grid-item-small">tutors</div></a>
    <a href="/company_search"><div class="grid-item box-link grid-item-small">company_search</div></a>
 </div>

</div>