<container id="user">
  <% if @user.is_user?(@current_user) %>
    <button class="notbutton" toggles="#inbox">Inbox</button> <br>
    <%= render "partials/inbox" %> <br>
  <% elsif @user %>
    <% @current_user.messages_with(@user).each do |msg| %>
      <li><%= msg.content %></li>
    <% end %>
  <% end %>
  <button class="notbutton" toggles="#new-message">
    send_message
  </button> <br>
  <%= render "partials/new_message" %>
</container>